<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cargo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CarGo">
        <activity
            android:name=".ilanlistesi"
            android:exported="false" />
        <activity
            android:name=".carGoListesi"
            android:exported="false" />
        <activity
            android:name=".KargolarimActivity"
            android:exported="true" />
        <activity
            android:name=".odemealActivity"
            android:exported="true" />
        <activity
            android:name=".odemeActivity"
            android:exported="true" />
        <activity
            android:name=".KayitActivity"
            android:exported="false" />
        <activity
            android:name=".BasariliActivity"
            android:exported="true" />
        <activity
            android:name=".KgucretbilgileriActivity"
            android:exported="true" />
        <activity
            android:name=".AliciBilgileriActivity"
            android:exported="true" />
        <activity
            android:name=".KargoFiyatActivity"
            android:exported="true" />
        <activity
            android:name=".KargoDagitActivity"
            android:exported="true" />
        <activity
            android:name=".KargoGonderActivity"
            android:exported="true" />
        <activity
            android:name=".GonderimTipiActivity"
            android:exported="true" />
        <activity
            android:name=".GirisActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>